<div class="mdl-card mdl-shadow--2dp" style="float:left; margin:50px; width:230px;">
    <div class="mdl-card__title" style="padding-bottom:0px">
        <h2 class="mdl-card__title-text">Day 1</h2>
    </div>
    <div class="mdl-card__supporting-text" style="padding:10px 16px">
        <div class="demo-list-action mdl-list">
            <div class="mdl-list__item  meas">
                <span class="mdl-list__item-primary-content">
<span class="smFont">Finance</span>
                </span>
                <a class="mdl-list__item-secondary-action"> 55</a>
            </div>
            <div class="mdl-list__item  meas">
                <span class="mdl-list__item-primary-content">
<span class="smFont">Happiness</span>
                </span>
                <a class="mdl-list__item-secondary-action"> 55</a>
            </div>
            <div class="mdl-list__item  meas">
                <span class="mdl-list__item-primary-content">
<span class="smFont">Exercise</span>
                </span>
                <a class="mdl-list__item-secondary-action"> 85</a>
            </div>
            <div class="mdl-list__item  meas">
                <span class="mdl-list__item-primary-content">
<span class="smFont">Nutrition</span>
                </span>
                <a class="mdl-list__item-secondary-action"> 45</a>
            </div>
            <div class="mdl-list__item  meas">
                <span class="mdl-list__item-primary-content">
<span class="smFont">Sleep</span>
                </span>
                <a class="mdl-list__item-secondary-action"> 25</a>
            </div>
            <div class="mdl-list__item  meas">
                <span class="mdl-list__item-primary-content">
<span class="smFont">Alcohol</span>
                </span>
                <a class="mdl-list__item-secondary-action"> 95</a>
            </div>
        </div>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
Edit Data
</a>
    </div>
    <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                        <i class="material-icons">multiline_chart</i>
                    </button>
    </div>
</div>