<div #contentBox style="transition-duration:.7s;" [style.top.px]="contentTop" [style.position]="contentPosition">
	<div class="circleCardL" style="margin-top:55px;">
		<div class="text_drawing">
			<canvas #text width=600></canvas>
		</div>
		<div class="circleCardL">
			<button class="extend7 mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-shadow--4dp landingNavSelected"
				(click)="one = true; two = false; three = false; G.show(loginDialog);">
<i class="fa fa-sign-in" aria-hidden="true" style="font-size:23px;"></i>LOGIN
</button>
			<button class="extend7 mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-shadow--4dp landingNavSelected {{bc}}"
				(click)="one = true; two = false; three = false; G.show(registerDialog);">
<i class="fa fa-plus-square-o" aria-hidden="true" style="margin: 11px 0; font-size:23px;"></i><span style="display:inline-block; line-height:18px;">CREATE ACCOUNT</span>
</button>

<button class="extend7 mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-shadow--4dp landingNavSelected {{bc1}}" (click)="signInAsTest()">
<i class="material-icons" style="margin: 11px 0; font-size:23px;">star</i>
<span style="display:inline-block; line-height:18px;">Test Out App!</span>
</button>

			<button class="extend7 mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-shadow--4dp " [class.landingNavSelectedL]="one"
				[class.landingNav]="!one" (click)="one = true; two = false; three = false;">
<i class="material-icons"> data_usage</i>VSQUARE
</button>
			<button class="extend7 mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-shadow--4dp " [class.landingNavSelectedL]="two"
				[class.landingNav]="!two" (click)="two = true;one = false; three = false;">
<i class="material-icons"> note</i>NEWS
</button>
			<button class="extend7 mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-shadow--4dp " [class.landingNavSelectedL]="three"
				[class.landingNav]="!three" (click)="three = true;two = false; one = false;">
<i class="material-icons"> live_tv</i>MEDIA
</button>
		</div>
	</div>
	<div class="circleCardL" style="margin: 50px 0;">
		<div>
			<div class="circleCardL" [hidden]="!one">

				<div class=" mdl-card wcard6 c mdl-shadow--2dp" style=" margin:2% 2% 2% 0; height:400px; width:40%;">
					<div class="mdl-card__actions mdl-card--border" style="border-bottom: 1px solid rgba(0,0,0,.1);">
						<i class="material-icons" style="float:right;"> data_usage</i>
						<span style="float:right; margin-top:4px; margin-right:5px;">VSQUARE</span>
					</div>
					<div class="mdl-card__supporting-text" style="font-size:15px; font-weight:600; line-height:22px; margin-top:-5px;">
						VSQUARE is a personal aggregate data visualization application. Track metrics and see their averages over time. Calculate
						correlations between data. Predict future data that reflects life patterns. By using VSQUARE you will gain insights
						into your life and how everyday decisions effect eachother.
					</div>
				</div>

				<div class=" mdl-card wcard0 c mdl-shadow--2dp" style=" margin:2% 2% 2% 2%; height:400px; width:40%;">
					<div class="mdl-card__actions mdl-card--border" style="border-bottom: 1px solid rgba(0,0,0,.1);">
						<i class="material-icons" style="float:right;"> star_border</i>
						<span style="float:right; margin-top:4px; margin-right:5px;  ">Future Releases</span>
					</div>
					<div class="mdl-card__supporting-text" style="font-size:15px; font-weight:600; line-height:22px; margin-top:-12px; margin-left:-20px;">
						<ul style="">
							<li>Easy to use time tracking</li>
							<li>Data for groups - from company personel to sport teams</li>
							<li>Iphone and Android Mobile Apps</li>
							<li>Integration with mobile sensors for steps, movement, and sleep tracking</li>
						</ul>
					</div>
				</div>

				<div class=" mdl-card c wcard1 mdl-shadow--2dp" style=" margin:2% 2% 2% 0; height:400px; width:40%;">
					<div class="mdl-card__title mdl-card--expand card1">
						<h2 class="mdl-card__title-text picText">Aggregate Data</h2>
					</div>
					<div class="mdl-card__supporting-text">
						One place for all of your important metrics.
					</div>
					<div class="mdl-card__actions mdl-card--border">
						<i class="material-icons"> blur_linear</i>
					</div>
				</div>

				<div class=" mdl-card wcard2 c mdl-shadow--2dp" style="  margin:2% 2% 2% 2%; width:40%; height:400px">
					<div class="mdl-card__title mdl-card--expand card2">
						<h2 class="mdl-card__title-text picText">Interpolation</h2>
					</div>
					<div class="mdl-card__supporting-text">
						Measure and track metrics to see how individual metrics impact aggregate data as a whole and as indivdual data points.
					</div>
					<div class="mdl-card__actions mdl-card--border">
						<i class="material-icons">timeline</i>
					</div>
				</div>

				<div class=" mdl-card wcard3 c mdl-shadow--2dp" style=" margin:2% 2% 2% 0; width:40%; height:400px">
					<div class="mdl-card__title mdl-card--expand card3">
						<h2 class="mdl-card__title-text picText">Data Visualization</h2>
					</div>
					<div class="mdl-card__supporting-text">
						Track trends in personal data using cutting edge data visualization technology.
					</div>
					<div class="mdl-card__actions mdl-card--border">
						<i class="material-icons"> multiline_chart</i>
					</div>
				</div>

				<div class=" mdl-card wcard4 c mdl-shadow--2dp" style="  margin:2% 2% 2% 2%;  width:40%; height:400px">
					<div class="mdl-card__title mdl-card--expand card4">
						<h2 class="mdl-card__title-text picText">Data Correlations</h2>
					</div>
					<div class="mdl-card__supporting-text">
						Utilize automatic calculations of trends, postive corelations, and negative correlations between data groups
					</div>
					<div class="mdl-card__actions mdl-card--border">
						<i class="material-icons"> compare_arrows</i>
					</div>
				</div>

				<div class=" mdl-card wcard5 c mdl-shadow--2dp" style="  margin:2% 2% 2% 0; width:40%; height:400px">
					<div class="mdl-card__title mdl-card--expand card5">
						<h2 class="mdl-card__title-text picText">AI</h2>
					</div>
					<div class="mdl-card__supporting-text">
						VSQUARE utilizes cutting edge AI and Machine learning to calculate future data points as well as calculate how data groups
						will change if patterns in other data groups are altered.
					</div>
					<div class="mdl-card__actions mdl-card--border">
						<i class="material-icons"> cached</i>
					</div>
				</div>
			</div>

			<div #vid [hidden]="!three" class=" mdl-card mdl-shadow--8dp" style="margin:3% 3% 3% 0;  height:254px; width:640px; padding: 0;">
				<div class="mdl-card__title mdl-card--expand" style="padding:0">
					<iframe #innerVid src="https://player.vimeo.com/video/110267377?color=ea6a47&title=0&byline=0&portrait=0" width="640" height="254"
						frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>

<dialog #loginDialog class="mdl-dialog">
	<h4 class="mdl-dialog__title">Login</h4>
	<div class="mdl-dialog__content">

		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="email" id="sample3" [(ngModel)]="email">
			<label class="mdl-textfield__label" for="sample3">Email...</label>
		</div>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="password" id="sample3" [(ngModel)]="password">
			<label class="mdl-textfield__label" for="sample3">Password...</label>
		</div>

	</div>
	<div class="mdl-dialog__actions ">
		<button type="button" class="mdl-button" (click)="G.close(loginDialog)">Close</button>
		<button type="button" class="mdl-button" (click)="signIn()">Login</button>
		<button type="button" class="mdl-button" (click)="reset()">Account Help</button>
	</div>
</dialog>

<dialog #resetDialog class="mdl-dialog">
	<h4 class="mdl-dialog__title">Account Help</h4>
	<div class="mdl-dialog__content">
		<p>An email will be sent to the email provided that will assist you in reseting you password.</p>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="email" id="sample3" [(ngModel)]="emailReset">
			<label class="mdl-textfield__label" for="sample3">Email...</label>
		</div>
	</div>
	<div class="mdl-dialog__actions ">
		<button type="button" class="mdl-button" (click)="G.close(resetDialog)">Close</button>
		<button type="button" class="mdl-button" (click)="resetSend()">Send </button>
	</div>
</dialog>

<dialog #registerDialog class="mdl-dialog">
	<h4 class="mdl-dialog__title">Create Account</h4>
	<div class="mdl-dialog__content">
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="email" id="sample1" [(ngModel)]="emailRegister">
			<label class="mdl-textfield__label" for="sample1">Email...</label>
		</div>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="password" id="sample3" [(ngModel)]="passwordRegister">
			<label class="mdl-textfield__label" for="sample3">Password...</label>
		</div>
	</div>
	<div class="mdl-dialog__actions ">
		<button type="button" class="mdl-button" (click)="G.close(registerDialog)">Close</button>
		<button type="button" class="mdl-button" (click)="register()">Create Account</button>
	</div>
</dialog>