<div style="margin-top:100px;" [hidden]="loggedIn">
    <center>
        <div class="" style=" width:500px; Padding:15px 40px 40px 40px;">
            <div class="mdl-card__supporting-text" style=" Padding:0px;">
                <div>
                    <center>
                        <h1>VSQUARE <i class="material-icons" style="font-size:40px; margin:10px">data_usage</i> </h1>
                        <hr>

                        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="openLogin()" style="margin:7px;">
Login
</a>
                        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" (click)="openRegister()" style="margin:7px;">
Create Account
</a>
                        <hr>

                        <h1 class="rotate">VSQUARE<i class="material-icons" style="font-size:40px; margin:10px;">data_usage</i> </h1>
                    </center>
                </div>
            </div>

        </div>

        <i class="material-icons" style="font-size:60px; margin-top:25px;">keyboard_arrow_down</i>


    </center>
    <div class="mdl-shadow--4dp" style="width:100%; background-color:white; padding: 5%; margin: 100px 0; position:relative;">
        <h4 style="max-width:65%;  margin-left:10%; display:inline-block;">Personal Aggregate Data Visualization </h4>
        <i class="material-icons" style="font-size:50px; position:absolute; top:30px; right:150px">blur_linear</i>
    </div>
    <div class="mdl-shadow--4dp" style="width:100%; background-color:rgba(0,0,0,.8); color:rgba(250,250,250,.7); height:auto; padding: 5%; margin: 100px 0;
                position:relative;">
        <h4 style="max-width:65%;  margin-left:10%; display:inline-block;">Measure and track personal data to see how individual data groups impact eachother</h4>
        <i class="material-icons" style="font-size:50px; position:absolute; top:30px; right:150px">timeline</i>
    </div>
    <div class="mdl-shadow--4dp" style="width:100%; background-color:rgba(0,0,0,.2); color:rgba(0,0,0,.5); height:auto; padding: 5%; margin: 100px 0; position:relative;">
        <h4 style="max-width:37%; margin-left:10%; display:inline-block;">See trends in personal data using cutting edge data visualization technology</h4>
        <i class="material-icons" style="font-size:50px; position:absolute; top:30px; right:150px">multiline_chart</i>
    </div>
    <div class="mdl-shadow--4dp" style="width:100%; background-color:rgba(0,0,0,.6); color:rgba(250,250,250,.8); height:auto; padding: 5%; margin: 100px 0; position:relative;">
        <h4 style="max-width:65%;  margin-left:10%; display:inline-block;">Utilize automatic calculations of trends, postive corelations, and negative correlations between data groups</h4>
        <i class="material-icons" style="font-size:50px; position:absolute; top:30px; right:150px">compare_arrows</i>
    </div>
    <div class="mdl-shadow--4dp" style="width:100%; background-color:white; height:auto; padding: 5%; margin: 100px 0; position:relative;">
        <h4 style="max-width:55%;  margin-left:10%; display:inline-block;">VSQUARE utilizes cutting edge AI and Machine learning to calculate future data points as well as calculate how data
            groups will change if patterns in other data groups are altered.</h4>
        <i class="material-icons" style="font-size:50px; position:absolute; top:30px; right:150px">cached</i>
    </div>
</div>

<dialog #loginDialog class="mdl-dialog">
    <h4 class="mdl-dialog__title">Login</h4>
    <div class="mdl-dialog__content">
       
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="email" id="sample3" [(ngModel)]="email">
                <label class="mdl-textfield__label" for="sample3">Email...</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password" id="sample3" [(ngModel)]="password">
                <label class="mdl-textfield__label" for="sample3">Password...</label>
            </div>
        
    </div>
    <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
        <button type="button" class="mdl-button" (click)="closeLoginDialog()">Close</button>
        <button type="button" class="mdl-button" (click)="signInFitSocial()">Login</button>
        <button type="button" class="mdl-button" (click)="signInRe()">Login with Google</button>
    </div>
</dialog>

<dialog #registerDialog class="mdl-dialog">
    <h4 class="mdl-dialog__title">Create Account</h4>
    <div class="mdl-dialog__content">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="email" id="sample3" [(ngModel)]="emailRegister">
                <label class="mdl-textfield__label" for="sample3">Email...</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password" id="sample3" [(ngModel)]="passwordRegister">
                <label class="mdl-textfield__label" for="sample3">Password...</label>
            </div>
    </div>
    <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
        <button type="button" class="mdl-button" (click)="closeRegisterDialog()">Close</button>
        <button type="button" class="mdl-button" (click)="register()">Create Account</button>
        <button type="button" class="mdl-button" (click)="registerGoogle()">Create Account with Google</button>
    </div>
</dialog>

