<div class=" mainCard" [class.loggedInCard]="loggedIn">
<div class=" mdl-layout mdl-js-layout ">
    <header class="mdl-layout__header mdl-layout__header--waterfall" 
    style="background-color: black; border-radius: 10px 10px 0 0;" [hidden]="!loggedIn">
        <!-- Top row, always visible -->
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">VSQUARE</span>
            <div class="mdl-layout-spacer"></div>
            <div>
                <div style="float:left; min-width:200px">
                    <span [hidden]="loggedIn" style="color:rgba(0,0,0,.0)">M</span>
                    <i class="material-icons" style="float:left; margin-right:8px; margin-top:4px;" [hidden]="!loggedIn">account_circle</i>
                    <span class="mdl-layout-title accentColor" *ngIf="loggedIn" style="margin-right: 20px; margin-top:10px; font-size:14px; opacity:.95;">{{displayName}}</span>
                </div>
                <!-- Right aligned menu below button -->
                <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon" >
                        <i class="material-icons">more_vert</i>
                    </button>

                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
                    <li class="mdl-menu__item " (click)="signOut()" [hidden]="!loggedIn">Logout</li>
                    <li class="mdl-menu__item " [hidden]="loggedIn">Login</li>
                    
                </ul>
            </div>
        </div>
        <!-- Bottom row, not visible on scroll -->
        <div class="mdl-layout__header-row navRow" [hidden]="!loggedIn">
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation" style="max-width:100%;" >
                <button #account class="mdl-button mdl-js-button mdl-js-ripple-effect navE" [routerLink]="['Account']" style="height:auto">
                        Account
                    </button>
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect navE" [routerLink]="['Dashboard']" style="height:auto">
                        Dashboard
                    </button>
                <button [routerLink]="['Settings']" class="mdl-button mdl-js-button mdl-js-ripple-effect navE" style="height:auto">
                        Settings
                    </button>
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect navE" [routerLink]="['AddData']" style="height:auto">
                        Add Data
                    </button>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer" [hidden]="!loggedIn">
        <span class="mdl-layout-title">VSQUARE</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" [routerLink]="['Account']" onclick="
$('.mdl-layout__obfuscator').click();">Account</a>
            <a #dashboard class="mdl-navigation__link " [routerLink]="['Dashboard']" onclick="
$('.mdl-layout__obfuscator').click();">Dashboard</a>
            <a class="mdl-navigation__link " [routerLink]="['Settings']" onclick="
$('.mdl-layout__obfuscator').click();">Settings</a>
            <a class="mdl-navigation__link " [routerLink]="['AddData']" onclick="
$('.mdl-layout__obfuscator').click();">Add Data</a>
            <a [hidden]="!loggedIn" class="mdl-navigation__link" (click)="signOut();" style="cursor:pointer;">Logout</a>
            <a #hiddenLink class="mdl-navigation__link " onclick="
$('.mdl-layout__obfuscator').click();" style="display: none;"></a>
        </nav>
    </div>
    <!----------------------------------------------------------------------------main------------------------------------->
    <main class="mdl-layout__content loggedIn" >
        <div id="mainContent" class="page-content" style="padding-bottom:100px;">

            <div [hidden]="!loggedIn" style=padding:0%;>
                <router-outlet></router-outlet>
            </div>

            <my-landing [hidden]="loggedIn"></my-landing>
            <button #refresh style="display: none;"></button>
            </div>
             </main>
  
    <footer class="mdl-mega-footer navFooter" style="position:absolute; width:100%;" >
        <div class="mdl-mega-footer__middle-section">

            <div class="mdl-mega-footer__drop-down-section">
                <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
                <h1 class="mdl-mega-footer__heading">Features</h1>
                <ul class="mdl-mega-footer__link-list">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Partners</a></li>
                    <li><a href="#">Updates</a></li>
                </ul>
            </div>

            <div class="mdl-mega-footer__drop-down-section">
                <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
                <h1 class="mdl-mega-footer__heading">Details</h1>
                <ul class="mdl-mega-footer__link-list">
                    <li><a href="#">Specs</a></li>
                    <li><a href="#">Tools</a></li>
                    <li><a href="#">Resources</a></li>
                </ul>
            </div>

            <div class="mdl-mega-footer__drop-down-section">
                <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
                <h1 class="mdl-mega-footer__heading">Technology</h1>
                <ul class="mdl-mega-footer__link-list">
                    <li><a href="#">How it works</a></li>
                    <li><a href="#">Patterns</a></li>
                    <li><a href="#">Usage</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Contracts</a></li>
                </ul>
            </div>

            <div class="mdl-mega-footer__drop-down-section">
                <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
                <h1 class="mdl-mega-footer__heading">FAQ</h1>
                <ul class="mdl-mega-footer__link-list">
                    <li><a href="#">Questions</a></li>
                    <li><a href="#">Answers</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>

        </div>

        <div class="mdl-mega-footer__bottom-section">
            <div class="mdl-logo">VSQUARE</div>
            <ul class="mdl-mega-footer__link-list">
                <li><a href="#">Help</a></li>
                <li><a href="#">Privacy & Terms</a></li>
            </ul>
        </div>

    </footer>
    
</div></div>

<dialog #successDialog class="mdl-dialog">
                <h4 class="mdl-dialog__title">Success</h4>
                <div class="mdl-dialog__content">
                    <p>
                        {{successMessage}}
                    </p>
                </div>
                <div class="mdl-dialog__actions">
                    <button type="button" class="mdl-button" (click)="newUser ? closeSuccessNewUser(): closeSuccess();">Continue</button>
                </div>
            </dialog>