<!--
<div class="demo-card-wide mdl-card mdl-shadow--2dp ma" style="float:left; margin:2%; max-width:90%;">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Simple Data Settings</h2>
    </div>
    <div class="mdl-card__supporting-text">
        <div class="demo-list-action mdl-list">
            <div (click)="finance = !finance" class="mdl-list__item measurementSelection" [class.measurementSelected]="finance">
                <span class="mdl-list__item-primary-content">
<i class="material-icons mdl-list__item-avatar">attach_money</i>
<span>Finance</span>
                </span>
                <a class="mdl-list__item-secondary-action"><i class="material-icons">star</i></a>
            </div>
            <div (click)="happiness = !happiness" class="mdl-list__item measurementSelection" [class.measurementSelected]="happiness">
                <span class="mdl-list__item-primary-content">
<i class="material-icons mdl-list__item-avatar">mood</i>
<span>Happiness</span>
                </span>
                <a class="mdl-list__item-secondary-action"><i class="material-icons">star</i></a>
            </div>
            <div (click)="exercise = !exercise" class="mdl-list__item measurementSelection" [class.measurementSelected]="exercise">
                <span class="mdl-list__item-primary-content">
<i class="material-icons mdl-list__item-avatar">directions_run</i>
<span>Exercise</span>
                </span>
                <a class="mdl-list__item-secondary-action"><i class="material-icons">star</i></a>
            </div>
            <div (click)="nutrition = !nutrition" class="mdl-list__item measurementSelection" [class.measurementSelected]="nutrition">
                <span class="mdl-list__item-primary-content">
<i class="material-icons mdl-list__item-avatar">local_pizza</i>
<span>Nutrition</span>
                </span>
                <a class="mdl-list__item-secondary-action"><i class="material-icons">star</i></a>
            </div>
            <div (click)="sleep = !sleep" class="mdl-list__item measurementSelection" [class.measurementSelected]="sleep">
                <span class="mdl-list__item-primary-content">
<i class="material-icons mdl-list__item-avatar">snooze</i>
<span>Sleep</span>
                </span>
                <a class="mdl-list__item-secondary-action"><i class="material-icons">star</i></a>
            </div>
            <div (click)="alcohol = !alcohol" class="mdl-list__item measurementSelection" [class.measurementSelected]="alcohol">
                <span class="mdl-list__item-primary-content">
<i class="material-icons mdl-list__item-avatar">local_drink</i>
<span>Alcohol</span>
                </span>
                <span class="mdl-list__item-secondary-content">
<a class="mdl-list__item-secondary-action"><i class="material-icons">star</i></a>
</span>
            </div>
       
        </div>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="float:right;" (click)="saveSettings();">
Save Settings
</a>
    </div>
    <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                        <i class="material-icons">settings</i>
                    </button>
    </div>
</div> -->

<div class="circleCard" >
<div class="demo-card-wide mdl-card mdl-shadow--2dp ma" *ngFor="let settingCategory of settingsOrganized"
 style="display:inline; vertical-align:top; margin:1%; margin-top:3%; max-width:90%; width: 555px; overflow:visible;">
    <div class="mdl-card__title">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-shadow--6dp" 
       style="margin-top:-40px; width:100%; height:55px; text-align:left; 
       background-color: rgb(51, 51, 51); color:rgba(250,250,250, .5)">
            <h4 style="margin:0">{{settingCategory[0] ? settingCategory[0].category : "Custom Metrics"}}</h4>
       </button>
    </div>
    <div class="mdl-card__supporting-text" style="margin-top:-20px;">
        <div class="demo-list-action mdl-list">
            <div *ngFor="let setting of settingCategory" style="float:left; margin : 0 10px; width:225px;">
                <div (click)="setting.selected = !setting.selected" class="mdl-list__item measurementSelection" [class.measurementSelected]="setting.selected">
                    <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-avatar">{{setting.icon}}</i>
<span>{{setting.measurement}}</span>
                    </span>
                    <a class="mdl-list__item-secondary-action"><i class="material-icons">star</i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="mdl-card__actions mdl-card--border">
    </div>
    <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                        <i class="material-icons">settings</i>
                    </button>
    </div>
</div>
</div>
        <button (click)="addCustomMetricOpen()" id="addMetric" 
        class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--mini-fab mdl-button--colored extend"
         style=" position: fixed; right: 40px; top:175px; z-index:999;">
  <i class="material-icons">add</i>
</button>

<div class="mdl-tooltip mdl-tooltip--left mdl-tooltip--large" for="addMetric" 
style=" z-index:1000;">
Add Custom Metric
</div>

<button id="saveSettings" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent extend"
 (click)="saveSettings()" style=" position: fixed; right: 100px; top:177px; z-index:999;">
  Save Settings
</button>

<dialog #successDialog class="mdl-dialog">
    <h4 class="mdl-dialog__title">Success</h4>
    <div class="mdl-dialog__content">
        <p>
            Your seetings have been successfully saved.
        </p>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button" (click)="dashboardSuccess()">Go To Dashboard</button>
        <button type="button" class="mdl-button" (click)="closeSuccessDialog()">Close</button>
    </div>
</dialog>

<dialog #newDialog class="mdl-dialog">
    <h4 class="mdl-dialog__title">Settings</h4>
    <div class="mdl-dialog__content">
        <p>
            Welcome to the settings page. This is where you can configure your data and select metrics to track. Now let's see how we
            can add and track metrics
        </p>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button" (click)="closeNewDialog()">Continue</button>
    </div>
</dialog>

<dialog #addDialog class="mdl-dialog">
    <h4 class="mdl-dialog__title">Add Metric</h4>
    <div class="mdl-dialog__content">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="sample3" [(ngModel)]="addMetricName">
            <label class="mdl-textfield__label" for="sample3">Metric Name...</label>
        </div>
        <p> Select Type of Data Input </p>
        <div class= "measurementSelection" style="padding:7px; margin: 5px 0;"
        (click)="addInputNumber = true; addInputRange = false" [class.measurementSelectedBox]="addInputNumber">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label "
        style="cursor:pointer; margin:-20px 20px -20px 0 ">
            <input class="mdl-textfield__input" type="number" id="sample3" style="cursor:pointer;" >
            <label class="mdl-textfield__label" for="sample3">Number..</label>
        </div></div>
<div class="measurementSelection" [class.measurementSelectedBox]="addInputRange" 
(click)="addInputRange = true; addInputNumber = false;" style="padding:7px; margin: 5px 0;">
        <span class="mdl-list__item-primary-content">
<span>Slider</span>
        </span>
        <input class="mdl-slider mdl-js-slider" type="range" min="0" max="100" tabindex="0">
</div>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button" (click)="addCustomMetricClose()">Close</button>
        <button type="button" class="mdl-button" (click)="addCustomMetric()">Add</button>
    </div>
</dialog>